@charset "utf-8";

$rexbox-display-map: (
    none: none,
    inline: inline,
    inline-block: inline-block,
    block: block,
    flex: flex,
    inline-flex: inline-flex,
    grid: grid,
    inline-grid: inline-grid,
    table: table,
    table-row: table-row,
    table-cell: table-cell,
    contents: contents
);

@each $name, $value in $rexbox-display-map {
    .d-#{$name} {
        display: $value !important;
    }
}