@charset "utf-8";

$rexbox-flex-direction-map: (
    row: row,
    "row-reverse": row-reverse,
    column: column,
    "column-reverse": column-reverse
);

$rexbox-flex-wrap-map: (
    wrap: wrap,
    "wrap-reverse": wrap-reverse,
    nowrap: nowrap
);

$rexbox-flex-grow-map: (
    0: 0,
    1: 1
);

$rexbox-flex-shrink-map: (
    0: 0,
    1: 1
);

$rexbox-justify-content-map: (
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around,
    evenly: space-evenly
);

$rexbox-align-items-map: (
    start: flex-start,
    end: flex-end,
    center: center,
    baseline: baseline,
    stretch: stretch
);

$rexbox-align-content-map: (
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around,
    stretch: stretch
);

$rexbox-align-self-map: (
    auto: auto,
    start: flex-start,
    end: flex-end,
    center: center,
    baseline: baseline,
    stretch: stretch
);

@each $name, $value in $rexbox-flex-direction-map {
    .flex-#{$name} {
        flex-direction: $value !important;
    }
}

@each $name, $value in $rexbox-flex-wrap-map {
    .flex-#{$name} {
        flex-wrap: $value !important;
    }
}

@each $name, $value in $rexbox-flex-grow-map {
    .flex-grow-#{$name} {
        flex-grow: $value !important;
    }
}

@each $name, $value in $rexbox-flex-shrink-map {
    .flex-shrink-#{$name} {
        flex-shrink: $value !important;
    }
}

.flex-fill {
    flex: 1 1 auto !important;
}

.flex-1 {
    flex: 1 !important;
}

@each $name, $value in $rexbox-justify-content-map {
    .justify-#{$name} {
        justify-content: $value !important;
    }
}

@each $name, $value in $rexbox-align-items-map {
    .items-#{$name} {
        align-items: $value !important;
    }
}

@each $name, $value in $rexbox-align-content-map {
    .align-content-#{$name} {
        align-content: $value !important;
    }
}

@each $name, $value in $rexbox-align-self-map {
    .align-self-#{$name} {
        align-self: $value !important;
    }
}